<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/samt.us.css" rel="stylesheet">

		<!--[if lt IE 9]>
		  <script src="assets/js/html5shiv.js"></script>
		<![endif]-->

		<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="samt.us ATOM feed">

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-10734446-12']);
			_gaq.push(['_trackPageview']);
			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div class="container" id="main">
			<header>
				<div class="row">
					<div class="span2">
						<a href="/"><img id="headerimg" src="http://gravatar.com/avatar/d63af852f26650ab3b78717881d4efc5?s=140" class="img-circle"></a>
					</div>

					<div class="span10">
						<a href="/"><h1>Sam Thompson</h1></a>
						<p>Coffee &amp; Code</p>
					</div>
				</div>

				<div class="row">
					<div class="span12">
						<hr>
					</div>
				</div>
			</header>

			{{ content }}

			<footer>
				<div class="row">
					<div class="span12">
						<hr>
					</div>
				</div>

				<div class="row" id="footer">
					<div class="span12">
						<small>&copy; 2013 Sam Thompson</small>

						<div class="pull-right">
							<a target="_blank" href="https://github.com/samt/">Github</a> &bull;
							<a target="_blank" href="http://twitter.com/samdtho/">Twitter</a> &bull;
							<a href="mailto:sam@localhost" id="x8D2bK">Email</a>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<script src="/assets/js/jquery-2.0.2.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('#x8D2bK').attr('href', function (k, val) {
					return val.substr(0,7) + 'blog' + String.fromCharCode(1<<6) + val.substr(7,10) + 't.us';
				});
			});
		</script>
	</body>
</html>